<div class="card page-carousel">
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="./assets/img/cart1.jpg" alt="Random first slide">
            <div class="carousel-caption">
                <p>G-BANK</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/img/cart6.jpg" alt="Random second slide">
            <div class="carousel-caption">
                <p>G-BANK</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/img/cart3.jpg" alt="Random third slide">
            <div class="carousel-caption">
                <p>G-BANK</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="./assets/img/cart2.jpg" alt="Random slide">
            <div class="carousel-caption">
                <p>G-BANK</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
