<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/cart1.jpg');">
    <div class="filter">
    </div>
    <div class="container">
        <div class="motto text-center">
            <h1>G-BANK Online</h1>
            <h3>Gérer mon compte Sans me déplacer</h3>
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round">Créer un compte</button>
            <button type="button" class="btn btn-outline-neutral btn-round">Accéder à votre compte</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">G-BANK</h2>
                <h5 class="description">G-Bank met à votre disposition G-BANK Direct, un nouveau service de banque en ligne, qui vous permet de consulter et de gérer tous vos comptes via Internet. 
                    Avec un seul clic, vous accédez en toute sécurité et en temps réel, à toutes les informations relatives à vos comptes où que vous soyez..</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">un service pratique</h4>
                        <p class="description">Consultez vos comptes et effectuez vos opérations 7j/7, 24h/24 sans vous déplacer.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-satisfied"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">un service facile</h4>
                        <p>Quelques clics suffisent pour gérer vos comptes.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">un service sécurisé</h4>
                        <p>Une combinaison d'identifiant et code secret pour sécuriser l'accès à vos comptes à distance.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">un service gratuit</h4>
                        <p>Vos principaux services de banque à distance sont offerts. Profitez-en !</p>
                        <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">NOTRE SÉLECTION</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h5 class="card-title">JEUNES ACTIFS</h5>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Des solutions bancaires pour bien démarrer dans la vie adulte.<br>
                            <a href="#"><i style="color: #ffffff">En savoir plus</i></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h5 class="card-title">MAROCAINS RÉSIDENTS À L’ÉTRANGER</h5>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Découvrez les solutions G-BANK et les avantages exclusifs.<br>
                            <a href="#"><i style="color: #ffffff">En savoir plus</i></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h5 class="card-title">ETUDIANTS</h5>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Des solutions adaptées pour vous accompagner dans vos études.<br>
                            <a href="#"><i style="color: #ffffff">En savoir plus</i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">CONTACTEZ-NOUS</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nom</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Nom">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Votre message peut contenir jusqu'à 500 caractères..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
