<div class="owner" style="text-align: -webkit-left;">
    <div class="avatar">
        <img src="./assets/img/asmaa.jpg" alt="Circle Image" class="img-thumbnail img-responsive">
    </div>
    <div class="name">
        <h4 class="title">{{user.nom}} {{user.prenom}}<br /></h4><hr>
        
    </div>
</div>
<div class="row">
  <div class="col-md-5 ml-auto mr-auto">  
    <form class="register-form">
            <h6 class="description">Informations personnelles</h6>
            <div class="input-group form-group-no-border">
             <span class="input-group-addon"><label>CIN :</label>
            </span>
            <output type="text" name="cin" class="form-control">{{user.cin}}</output>
        </div>
        
        <div class="input-group form-group-no-border">
            <span class="input-group-addon"><label>Nom :</label>
            </span>
            <output type="text" name="nom" class="form-control">{{user.nom}}</output>
        </div>
        
        <div class="input-group form-group-no-border">
            <span class="input-group-addon"><label>Prenom :</label>
            </span>
            <output type="text" name="prenom" class="form-control">{{user.prenom}}</output>
        </div>
        
        <div class="input-group form-group-no-border">
            <span class="input-group-addon"><label>Email :</label>
            </span>
            <output name="email" class="form-control">{{user.email}}</output>
        </div>
        
        <div class="input-group form-group-no-border">
            <span class="input-group-addon"><label>Telephone :</label>
            </span>
            <output name="tel" class="form-control">{{user.tel}}</output>
        </div>
        
        <div class="input-group form-group-no-border">
            <span class="input-group-addon"><label>Adresse :</label>
            </span>
            <output name="adresse" class="form-control">{{user.adresse}}</output>
        </div><hr>
        <button class="btn col-md-8 btn-danger btn-block btn-round">Modifier le mot de passe</button><br>
      </form>
  </div>
  <div class="col-md-7 ml-auto mr-auto">
        <app-carousel></app-carousel>
    </div>
</div>
<br/>
