<div class="owner">
    <div class="avatar">
        <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
    </div>
    <div class="name">
        <h4 class="title">{{user.nom}} {{user.prenom}}<br /></h4>
        <h6 class="description">Informations personnelles</h6>
    </div>
</div>
<div class="row">
  <div class="col-md-7 ml-auto mr-auto ">
    <form class="register-form">
        <label>CIN :</label>
            <div class="input-group form-group-no-border">
             <span class="input-group-addon">
            </span>
            <output type="text" name="cin" class="form-control">{{user.cin}}</output>
        </div>
        <label>Nom :</label>
        <div class="input-group form-group-no-border">
            <span class="input-group-addon"> 
            </span>
            <output type="text" name="nom" class="form-control">{{user.nom}}</output>
        </div>
        <label>Prenom :</label>
        <div class="input-group form-group-no-border">
            <span class="input-group-addon">
            </span>
            <output type="text" name="prenom" class="form-control">{{user.prenom}}</output>
        </div>
        <label>Email :</label>
        <div class="input-group form-group-no-border">
            <span class="input-group-addon">
            </span>
            <output name="email" class="form-control">{{user.email}}</output>
        </div>
        <label>Telephone :</label>
        <div class="input-group form-group-no-border">
            <span class="input-group-addon">
            </span>
            <output name="tel" class="form-control">{{user.tel}}</output>
        </div>
        <label>Adresse :</label>
        <div class="input-group form-group-no-border">
            <span class="input-group-addon">
            </span>
            <output name="adresse" class="form-control">{{user.adresse}}</output>
        </div><hr>
        <button class="btn col-md-5 btn-danger btn-block btn-round">Modifier le mot de passe</button>
      </form>
  </div>
</div>
<br/>
