<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">G-BANK</a></li>
                    <li><a href="#">CONTACTEZ-NOUS</a></li>
                    <li><a href="#">Aide</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, G-BANK
                </span>
            </div>
        </div>
    </div>
</footer>
